@charset "UTF-8";
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
-Imports
-Text Styles
-Hero
-Arrow
-AboutConnect
-Footer
 */
@import url(../css/fonts.css);
@import url(../../../bower_components/normalize-css/normalize.css);
html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  image-rendering: optimizeQuality;
}

/* =========================================================================
                            Imports
=======================================================================*/
/* =========================================================================
                            Text Styles
=======================================================================*/
h1 {
  font-family: 'Edmondsans-Medium';
  font-size: 56px;
  color: white;
  font-weight: normal;
  float: left;
  clear: none;
  width: 48.5%;
  margin-left: 0;
  margin-right: 3%;
}

h1:last-child {
  margin-right: 0;
}

h2 {
  font-family: 'Edmondsans-Medium';
  font-size: 56px;
  color: white;
}

h3 {
  font-family: 'Edmondsans-Regular';
  font-size: 18px;
  color: #9a9a9a;
}

h4 {
  font-family: 'Edmondsans-Bold';
  font-size: 14px;
  color: #9a9a9a;
}

.alignCenter {
  text-align: center !important;
}

.blackText {
  color: #171616 !important;
}

/* =========================================================================
                            Hero
=======================================================================*/
#hero {
  background: url(../../img/hero.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  height: 100vh;
  margin: 0;
}

#hero .resizeLogo {
  height: auto;
  width: auto;
  max-width: 200px;
  margin-top: 100px;
}

#hero .headerText {
  margin-top: 175px;
}

#hero .signup-margin {
  margin-top: 60px;
  float: left;
  clear: none;
  width: 48.5%;
  margin-left: 0;
  margin-right: 3%;
}

#hero .signup-margin:last-child {
  margin-right: 0;
}

#hero .signup-margin input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 4px solid white;
  font-size: 24px;
  color: white;
  width: 400px;
  font-family: 'Edmondsans-Medium';
  padding-bottom: 25px;
}

#hero .signup-margin ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
}

#hero .signup-margin ::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}

#hero .signup-margin :-ms-input-placeholder {
  /* IE 10+ */
  color: white;
}

#hero .signup-margin :-moz-placeholder {
  /* Firefox 18- */
  color: white;
}

#hero .signup-margin .betaButton {
  background: #FF6551;
  border-color: #FF6551;
  height: 60px;
  width: 300px;
  font-family: 'Edmondsans-Medium';
  font-size: 18px;
  color: white;
  margin-left: 25px;
  outline: none;
}

/* =========================================================================
                            Arrow
=======================================================================*/
.arrow {
  position: absolute;
  left: 36%;
  top: 90%;
  margin-left: -20px;
}

.bounce {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce;
}

.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
  }
}

@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateY(0);
  }
  40% {
    -o-transform: translateY(-30px);
  }
  60% {
    -o-transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* =========================================================================
                            AboutConnect
=======================================================================*/
#AboutConnect .peaceSize {
  font-size: 75px;
  padding-top: 100px;
}

#AboutConnect h2 {
  font-size: 48px;
}

#AboutConnect h3 {
  line-height: 36px;
}

#AboutConnect hr {
  width: 100px;
  margin-top: 225px;
  margin-bottom: 225px;
}

#AboutConnect .verticalLine {
  border-left: thin solid #9a9a9a;
  height: 100px;
  left: 50%;
  position: absolute;
  margin-top: 50px;
}

.teamResize {
  height: auto;
  width: auto;
  max-width: 800px;
  margin-top: 200px;
  margin-bottom: -125px;
}

/* =========================================================================
                            MissionTeam
=======================================================================*/
#MissionTeam {
  background-color: #F5F5F7;
  padding-bottom: 150px;
}

#MissionTeam h2 {
  margin-top: 150px;
  font-size: 48px;
}

#MissionTeam h3 {
  line-height: 36px;
}

#MissionTeam .teamButton {
  background: #1DB95C;
  border-color: #1DB95C;
  height: 60px;
  width: 300px;
  font-family: 'Edmondsans-Medium';
  font-size: 18px;
  color: white;
}

/* =========================================================================
                            Footer
=======================================================================*/
#Footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ECEDEF;
}

#Footer h3.cta {
  font-family: 'Edmondsans-Bold';
  font-size: 16px;
  color: #4A4A4A;
  text-transform: uppercase;
  text-align: center;
}

#Footer .signup-margin {
  display: -webkit-flex;
  -webkit-justify-content: center !important;
  padding-top: 100px;
  margin: 0 auto;
}

#Footer .signup-margin input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 4px solid black;
  font-size: 24px;
  color: black;
  width: 600px;
  font-family: 'Edmondsans-Medium';
  padding-bottom: 25px;
}

#Footer .signup-margin ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: black;
}

#Footer .signup-margin ::-moz-placeholder {
  /* Firefox 19+ */
  color: black;
}

#Footer .signup-margin :-ms-input-placeholder {
  /* IE 10+ */
  color: black;
}

#Footer .signup-margin :-moz-placeholder {
  /* Firefox 18- */
  color: black;
}

#Footer .signup-margin .betaButton {
  background: #FF6551;
  border-color: #FF6551;
  height: 60px;
  width: 300px;
  font-family: 'Edmondsans-Medium';
  font-size: 18px;
  color: white;
  margin-left: 25px;
}

#Footer .byeSize {
  font-size: 50px;
}

#Footer .makeCenter {
  display: -webkit-flex !important;
  -webkit-justify-content: center !important;
  margin-top: 100px;
}

#Footer h4 {
  font-family: 'Edmondsans-Bold';
  font-size: 14px;
  color: #9a9a9a;
}

/*# sourceMappingURL=home.css.map */