@charset "UTF-8";
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
-Imports
-Breakpoints
-Text Styles
-Hero
-Arrow
-Blinking Cursor
-AboutConnect
-Footer
 */
@import url(../css/fonts.css);
@import url(../css/twemoji-awesome.css);
@import url(../../../bower_components/normalize-css/normalize.css);
html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  image-rendering: optimizeQuality;
}

/* 
========================================================================================
Imports
========================================================================================
*/
/* 
========================================================================================
Mixins
========================================================================================
*/
/* 
========================================================================================
Body > Universal Classes
========================================================================================
*/
body {
  font-family: 'Edmondsans-Medium';
  margin: 0;
}

.center {
  width: auto;
  max-width: 500px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

@media (max-width: 640px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.rule {
  margin: 150px auto 150px auto;
  width: 32px;
  border-top: 2px solid #e5e5e5;
}

@media (max-width: 640px) {
  .rule {
    margin: 100px auto 100px auto;
  }
}

button {
  border: none;
  height: 60px;
  font-family: 'Edmondsans-Medium';
  font-size: 18px;
  color: white;
  outline: none;
  border-radius: 50px;
}

/* 
========================================================================================
Text Styles
========================================================================================
*/
h1 {
  font-family: 'Edmondsans-Medium';
  font-size: 56px;
  color: white;
  font-weight: normal;
  -webkit-font-smoothing: normal;
}

@media (max-width: 900px) {
  h1 {
    font-size: 48px;
  }
}

@media (max-width: 640px) {
  h1 {
    font-size: 36px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 32px;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 30px;
  }
}

h2 {
  font-family: 'Edmondsans-Medium';
  font-size: 32px;
  color: #393939;
}

@media (max-width: 640px) {
  h2 {
    font-size: 28px;
  }
}

h3 {
  font-family: 'Edmondsans-Medium';
  font-size: 18px;
  color: #9a9a9a;
  line-height: 26px;
  font-weight: normal;
}

@media (max-width: 640px) {
  h3 {
    font-size: 17px;
  }
}

h4 {
  font-family: 'Edmondsans-Medium';
  font-size: 14px;
  color: #9a9a9a;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 20px;
}

a:link {
  text-decoration: none;
}

/* 
========================================================================================
Hero
========================================================================================
*/
.hero {
  background: url(../../img/hero.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  height: 100%;
}

@media (max-width: 1260px) {
  .hero {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.hero .nav {
  width: 90%;
  padding: 3% 5% 0 5%;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
}

@media (max-width: 1260px) {
  .hero .nav {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 3%;
    padding: 3% 0 0 0;
  }
  .hero .nav:last-child {
    margin-right: 0;
  }
}

.hero .nav .logo {
  background: url(../../img/connect_logo.png) no-repeat;
  background-size: 170px;
  background-position: 0 100%;
  width: 170px;
  height: 50px;
}

@media (max-width: 640px) {
  .hero .nav .logo {
    background-size: 140px;
  }
}

.hero .nav .joinTeam {
  font-size: 20px;
  color: white;
  text-decoration: none;
  padding-top: 5px;
}

.hero .nav .joinTeam:hover {
  text-decoration: underline;
}

@media (max-width: 900px) {
  .hero .nav .joinTeam {
    font-size: 18px;
  }
}

@media (max-width: 640px) {
  .hero .nav .joinTeam {
    font-size: 16px;
  }
}

.hero .container-hero {
  max-width: 1100px;
  margin: 0 auto;
}

.hero .container-hero .row-header {
  width: 100%;
  padding-top: 10%;
}

@media (max-width: 1260px) {
  .hero .container-hero .row-header {
    padding-top: 15%;
  }
}

@media (max-width: 640px) {
  .hero .container-hero .row-header {
    padding-top: 25%;
  }
}

.hero .container-hero .row-header .col-1 {
  float: left;
  clear: none;
  width: 91.4166666667%;
  margin-left: 0;
  margin-right: 3%;
}

.hero .container-hero .row-header .col-1:last-child {
  margin-right: 0;
}

@media (max-width: 640px) {
  .hero .container-hero .row-header .col-1 {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 3%;
  }
  .hero .container-hero .row-header .col-1:last-child {
    margin-right: 0;
  }
}

@media (max-width: 1140px) {
  .hero .container-hero .row-header .col-1 .headerText {
    min-height: 220px;
  }
}

@media (max-width: 640px) {
  .hero .container-hero .row-header .col-1 .headerText {
    min-height: 160px;
  }
}

.hero .container-hero .row-signup {
  width: 100%;
  clear: both;
  padding-top: 5%;
  padding-bottom: 40%;
}

.hero .container-hero .row-signup h3.waitlistText {
  color: white;
  font-size: 22px;
  text-shadow: 0px 0px 40px rgba(40, 124, 149, 0.6);
}

@media (max-width: 640px) {
  .hero .container-hero .row-signup h3.waitlistText {
    font-size: 17px;
  }
}

.hero .container-hero .row-signup .col-1 {
  float: left;
  clear: none;
  width: 48.5%;
  margin-left: 0;
  margin-right: 3%;
}

.hero .container-hero .row-signup .col-1:last-child {
  margin-right: 0;
}

.hero .container-hero .row-signup .col-1 input {
  border: 0;
  outline: 0;
  margin-top: 14px;
  padding-bottom: 14px;
  background: transparent;
  border-bottom: 4px solid white;
  font-size: 24px;
  color: white;
  width: 100%;
  font-family: 'Edmondsans-Medium';
}

.hero .container-hero .row-signup .col-1 input::-webkit-input-placeholder {
  color: white;
  opacity: 100;
  margin-top: 4px;
}

.hero .container-hero .row-signup .col-1 input::-moz-placeholder {
  color: white;
  opacity: 100;
  margin-top: 4px;
}

.hero .container-hero .row-signup .col-1 input:-moz-placeholder {
  color: white;
  opacity: 100;
  margin-top: 4px;
}

.hero .container-hero .row-signup .col-1 input:-ms-input-placeholder {
  color: white;
  opacity: 100;
  margin-top: 4px;
}

.hero .container-hero .row-signup .col-1 p.firstInvalidText {
  font-size: 18px;
  color: white;
}

@media (max-width: 640px) {
  .hero .container-hero .row-signup .col-1 {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .hero .container-hero .row-signup .col-1:first-child {
    margin-left: auto;
  }
  .hero .container-hero .row-signup .col-1:last-child {
    margin-right: auto;
  }
}

.hero .container-hero .row-signup .col-2 {
  float: left;
  clear: none;
  width: 31.3333333333%;
  margin-left: 0;
  margin-right: 3%;
}

.hero .container-hero .row-signup .col-2:last-child {
  margin-right: 0;
}

.hero .container-hero .row-signup .col-2 button {
  background: #FF6551;
  width: 100%;
  margin-left: 25px;
}

.hero .container-hero .row-signup .col-2 button:hover {
  background: #e65b49;
  cursor: pointer;
  -webkit-animation: scale 1s ease-in, slide 2s ease;
  -moz-animation: scale 1s ease-in, slide 2s ease;
  animation: scale 1s ease-in, slide 2s ease;
}

@media (max-width: 640px) {
  .hero .container-hero .row-signup .col-2 button {
    width: 100%;
    margin-top: 20px;
    margin-left: 0px;
  }
}

@media (max-width: 640px) {
  .hero .container-hero .row-signup .col-2 {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .hero .container-hero .row-signup .col-2:first-child {
    margin-left: auto;
  }
  .hero .container-hero .row-signup .col-2:last-child {
    margin-right: auto;
  }
}

/* ========================================================================================
Arrows
========================================================================================
*/
.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 90%;
  left: 0;
  bottom: 0;
  right: 0;
}

.arrow {
  position: absolute;
  left: 45%;
  top: 90%;
}

@media (max-width: 640px) {
  .arrow {
    visibility: hidden;
  }
}

/* 
========================================================================================
Blinking Cursor
========================================================================================
*/
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 
========================================================================================
About
========================================================================================
*/
.about {
  text-align: center;
  padding-bottom: 160px;
}

.about .row-about {
  padding-top: 120px;
}

.about .row-about .emoji-about {
  font-size: 68px;
  line-height: 0;
}

/* 
========================================================================================
Team
========================================================================================
*/
.team {
  background: url(../../img/team_photo.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  height: 50vh;
  margin: 0;
}

.team .row-team {
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.team .row-team button {
  background: #3cb8b4;
  width: 65%;
}

.team .row-team button:hover {
  background: #36a6a2;
  cursor: pointer;
  -webkit-animation: scale 1s ease-in, slide 2s ease;
  -moz-animation: scale 1s ease-in, slide 2s ease;
  animation: scale 1s ease-in, slide 2s ease;
}

/* 
========================================================================================
Team
========================================================================================
*/
.mission {
  width: 100%;
  padding-top: 140px;
  padding-bottom: 160px;
}

.mission .emoji-mission {
  font-size: 68px;
  line-height: 0;
}

.mission .row-why {
  text-align: center;
}

/* 
========================================================================================
Footer
========================================================================================
*/
.footer {
  background: #ededed;
  width: 100%;
  height: 100%;
  padding-top: 80px;
  padding-bottom: 60px;
}

.footer h4 {
  text-align: center;
}

.footer .row-signup {
  width: 100%;
  clear: both;
  padding-top: 4%;
  padding-bottom: 16%;
}

.footer .row-signup .col-1 {
  position: relative;
  left: 8.5833333333%;
  float: left;
  clear: none;
  width: 48.5%;
  margin-left: 0;
  margin-right: 3%;
}

.footer .row-signup .col-1:last-child {
  margin-right: 0;
}

.footer .row-signup .col-1 input {
  border: 0;
  outline: 0;
  margin-top: 14px;
  padding-bottom: 14px;
  background: transparent;
  border-bottom: 4px solid #393939;
  font-size: 24px;
  color: #393939;
  width: 100%;
  text-align: justify;
  font-family: 'Edmondsans-Medium';
}

.footer .row-signup .col-1 input::-webkit-input-placeholder {
  color: #393939;
  opacity: 100;
  margin-top: 4px;
}

.footer .row-signup .col-1 input::-moz-placeholder {
  color: #393939;
  opacity: 100;
  margin-top: 4px;
}

.footer .row-signup .col-1 input:-moz-placeholder {
  color: #393939;
  opacity: 100;
  margin-top: 4px;
}

.footer .row-signup .col-1 input:-ms-input-placeholder {
  color: #393939;
  opacity: 100;
  margin-top: 4px;
}

.footer .row-signup .col-1 p.secondInvalidText {
  font-size: 18px;
  color: #393939;
}

@media (max-width: 640px) {
  .footer .row-signup .col-1 {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 0;
  }
  .footer .row-signup .col-1:first-child {
    margin-left: auto;
  }
  .footer .row-signup .col-1:last-child {
    margin-right: auto;
  }
}

.footer .row-signup .col-2 {
  position: relative;
  left: 8.5833333333%;
  float: left;
  clear: none;
  width: 31.3333333333%;
  margin-left: 0;
  margin-right: 3%;
}

.footer .row-signup .col-2:last-child {
  margin-right: 0;
}

.footer .row-signup .col-2 button {
  background: #FF6551;
  width: 100%;
  margin-left: 25px;
}

.footer .row-signup .col-2 button:hover {
  background: #e65b49;
  cursor: pointer;
  -webkit-animation: scale 1s ease-in, slide 2s ease;
  -moz-animation: scale 1s ease-in, slide 2s ease;
  animation: scale 1s ease-in, slide 2s ease;
}

@media (max-width: 640px) {
  .footer .row-signup .col-2 button {
    width: 100%;
    margin-top: 20px;
    margin-left: 0px;
  }
}

@media (max-width: 640px) {
  .footer .row-signup .col-2 {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 0;
  }
  .footer .row-signup .col-2:first-child {
    margin-left: auto;
  }
  .footer .row-signup .col-2:last-child {
    margin-right: auto;
  }
}

.footer .emoji-footer {
  font-size: 32px;
  line-height: 0;
  text-align: center;
}

.footer span {
  text-align: center;
  font-size: 12px;
  color: #9a9a9a;
}

.footer i {
  padding-bottom: 35px;
}

/*# sourceMappingURL=home.css.map */